body {
    text-align: center;
    font-family: sans-serif;
}

h1 {
    font-size: 80px;
}

h2 { 
    font-size: 28px;
}

h4 {    
    font-size: 25px;
}

li {
    display: inline-block;
}

.header-ul {
    width: 100%;
    color: rgb(242, 242, 242);
    padding: 0px;
}

.a-li{
    padding: 5px 30px 5px 30px;
    line-height: 44px;
}

.header-img {
    width: 16px;
    height: 44px;
    margin-left:  20px;
    margin-right: 20px;
    vertical-align: middle;
}

.grey-background {
    background-color: rgba(0, 0, 0, 0.8);
}

.p-financing {
    color: rgb(29,29,31);
    font-size: 12px;
    margin-bottom: 30px;
}

.p-new {
    font-size: 12px;
    color: orange;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.h1-macbook-air {
    margin-top: 0px;
    margin-bottom: 0px;
}

.h4-ultraligero {
    margin-top: 0px;
    margin-bottom: 0px;
}

.boton-comprar {
    display: inline-block;
    border-radius: 25px;
    background-color: rgb(0, 113, 227);
    color:rgb(242, 242, 242);
    padding: 10px;
    font-size: 16px;
    border: 0px;
}

a {
    text-decoration: none;
}

.a-mas-informacion {
    color: rgb(0, 113, 227);
}

.img-macbook-horizontal {
    max-width: 80%;
    margin-top: 80px;
    margin-bottom: 80px;
}

.div-boxes {
    background-color: rgb(242, 242, 242);
    width: 48%;
    height: 690px;
    display: inline-block;
}

.img-div-box-izq {
    width: 100%;
    height: 354px;
    object-fit: cover;
}

.img-div-box-dcha {
    width: 80%;
    height: 348px;
}

.h2-tipo-div-boxes{
    font-size: 50px;
    display: inline-block;
    margin: 0px;
}

.button-ver{
    margin-top: 0px;
    margin-bottom: 25px;
}

.h4-div-boxes{
    margin-bottom: 0px;
}

.box-dcha {
    margin-left: 10px;
}

.box-izq {
    margin-right: 10px;
}

.div-entrega-gratuita {
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 22px;
}

.p-entrega{
    margin-bottom: 4px;
    margin-top: 4px;
    font-weight: bold;
}

.p-dev{
    margin-bottom: 4px;
    margin-top: 4px;
}

.p-consulta{
    margin-bottom: 4px;
    margin-top: 4px;
}

.img-box-entrega {
    height: 45px;
    width: 40px;
    margin-bottom: 15px;
}

footer {
    font-size: 12px;
    background-color: rgb(245, 245, 247);
    text-align: left;
    padding-left: 150px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.p1-footer {
    color:rgb(81, 81, 84);
    margin: 0px 0px 3px 0px;
}

.ul-footer {
    color: rgb(29,29,31); 
    padding: 0px;
    margin: 2px 0px 0px 0px;
}

.li-footer {
    margin-right: 10px;
}